.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 28px;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 32px 20px;
    margin: 0;
    padding-bottom: 99px;
  }


  @media (min-width: @desktop-width) {
    column-gap: 42px;
    grid-column: 1/2;
    grid-row: 2/2;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 436px;
    padding-bottom: 55px;
    row-gap: 0;
  }
}
