.advantages-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 32px;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px 20px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-wrapper {
    grid-column: 1/2;
    grid-row: 2/2;
    justify-content: center;
  }
}

.advantages-card-weight {
  position: relative;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.advantages-card-days {
  position: relative;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.advantages-card-weight__text {
  position: absolute;
  bottom: -20px;
  right: 9px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eaeaea;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages-card-days__text {
  position: absolute;
  bottom: -19px;
  right: 9px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eaeaea;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages-card-weight__parametr {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 14px 46px 9px;
}

.advantages-card-days__parametr {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 14px 23px 9px;
}

.advantages-price {
  display: flex;
  text-transform: uppercase;
  line-height: 20px;
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .advantages-price {
    align-items: flex-end;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .advantages-price {
    flex-direction: row;
  }
}

@media (min-width: @tablet-width) {
  .advantages-price__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

.advantages-price__cost {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-price__cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}
