@media (min-width: @tablet-width) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @desktop-width) {
  grid-column: 2 /2;
  grid-row: 1/ 4;
}
