.box {
  padding: 0 var(--side-offset) 40px;

  @media (min-width: @tablet-width) {
    padding: 0 var(--side-offset) 0;
  }
}

.box__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  gap: 16px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    counter-reset: box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    gap: 37px 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    column-gap: 70px;
  }
}

.box__item {
  width: 100%;
  min-height: 65px;

  @media (min-width: @tablet-width) {
    min-height: 233px;
    z-index: 1;
    counter-increment: box;
    flex-basis: calc(50% - 30px);
    padding-top: calc(80px + 31px);
    margin-bottom: 49px;
  }
}

.box__item-nutrients {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/nutrients.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/nutrients-desktop.svg");
      width: 80px;
      height: 80px;
      top: 0;
    }
  }
}

.box__item-composition {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/composition.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/composition-desktop.svg");
      width: 80px;
      height: 80px;
      top: 0;
    }
  }
}

.box__item-meal {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/meal.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/date-desktop.svg");
      width: 80px;
      height: 80px;
      top: -2px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: 5px;
    }
  }
}

.box__item-date {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/date.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -4px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/meal-desktop.svg");
      width: 80px;
      height: 80px;
      top: -2px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: 7px;
    }
  }
}

.box__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}

.box__item-description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-colors;
  text-align: left;
  margin: 0 0 0 80px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    width: 78%;
    position: relative;
    text-align: left;

    &::after {
      content: counter(box);
      font-family: @accent-font;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      top: -151px;
      right: 40px;
      z-index: -10;
    }
  }

  @media (min-width: @desktop-width) {
    min-width: 250px;

    &::after {
      top: -152px;
      right: 10px;
    }
  }
}

li:nth-child(1) p::after {
  right: 28px;
}

li:nth-child(2) p::after {
  right: 8px;
}

li:nth-child(3) p::after {
  right: 5px;
}

li:nth-child(4) p::after {
  right: 5px;
}
