.box {
  padding: 0 var(--side-offset) 49px;
}

.box__item {
  width: 100%;
  min-height: 65px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    position: relative;
    z-index: 1;
    counter-increment: box;
    max-width: 250px;

    &::after {
      content: counter(box);
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      position: absolute;
      top: -132px;
      right: 18px;
      z-index: -10;
    }
  }
}

.box__item-nutrients {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/nutrients.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/nutrients-desktop.svg");
      width: 80px;
      height: 80px;
      top: -95px;
    }
  }
}

.box__item-composition {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/composition.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/composition-desktop.svg");
      width: 80px;
      height: 80px;
      top: -95px;
    }
  }
}

.box__item-meal {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/meal.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/meal-desktop.svg");
      width: 80px;
      height: 80px;
      top: -95px;
    }
  }
}

.box__item-date {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/date.svg");
    width: 60px;
    height: 60px;
    bottom: -3px;
    top: -2px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::before {
      background-image: url("/img/date-desktop.svg");
      width: 80px;
      height: 80px;
      top: -95px;
    }
  }
}

.box__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

.box__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 280px);
    align-items: center;
    gap: 37px 140px;
    counter-reset: box;
    padding-top: 52px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 280px;
    column-gap: 70px;
  }
}

.box__item-description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-colors;
  margin: 0;
  text-align: left;
  margin-left: 80px;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
