.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 42px 41px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    padding-bottom: 82px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title {
    padding-left: 110px;
    padding-bottom: 84px;
  }
}

.catalog__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(4, 511px);
    gap: 60px 60px;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, 511px);
    gap: 60px 80px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.catalog__card {
  padding: 11px 20px 13px 18px;
}

@media (min-width: @tablet-width) {
  .catalog__card {
    padding: 11px 20px 13px 18px;
    background-color: #f2f2f2;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__card {
    padding: 11px 20px 13px 18px;
    background-color: #f2f2f2;
    min-height: 430px;
  }
}

.catalog__heading {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

@media (min-width: @tablet-width) {
  .catalog__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }
}

.catalog__card__link {
  text-decoration: none;
}

.catalog__description {
  display: inline-block;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .catalog__description {
    font-size: 16px;
  }
}

.card-more {
  padding: 25px 20px 25px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .card-more {
    border: 2px solid #f2f2f2;
    min-height: 400px;
  }
}

.card-more__link {
  text-decoration: none;
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}

.card-more__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .card-more__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }
}

.card-more__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card-more__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @tablet-width) {
  .card-more__link {
    line-height: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
