.catalog-products {
  display: grid;
  gap: 20px;
  padding: 10px var(--side-offset) 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    gap: 16px;
    padding: 0;
  }
}

.programs__skinny {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    background-image: url("/img/cat-skinny.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 211px;
      background-image: url("/img/cat-skinny-tablet.svg");
      right: 62px;
      top: 58px;

      @media (min-width: @desktop-width) {
        width: 100px;
        height: 106px;
        background-image: url("/img/cat-skinny-desktop.svg");
        left: 54px;
        top: 34px;
      }
    }
  }
}

.programs__get-fat {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;
    background-image: url("/img/fat-cat.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 200px;
      background-image: url("/img/fat-cat-tablet.svg");
      right: 28px;
      bottom: 68px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      background-image: url("/img/fat-cat-desktop.svg");
      left: 33px;
      top: 46px;
    }
  }
}

.programs__subtitle {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  margin-left: 71px;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    padding-top: 57px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }


  @media (min-width: @desktop-width) {
    padding-top: 77px;
    justify-self: center;
  }
}

.programs__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 24px 0 28px 32px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 53px;
    min-width: 462px;
  }
}
