.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 42px 41px;
  background-color: #FFFFFF;
}

.catalog__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
}

.catalog__card {
  padding: 11px 20px 13px 18px;
}

.catalog__heading {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.catalog__card__link {
  text-decoration: none;
}

.catalog__description {
  display: inline-block;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.card-more {
  padding: 25px 20px 25px;
  text-align: center;
}

.card-more__link {
  text-decoration: none;
}

.card-more__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  text-transform: uppercase;
}

.card-more__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin:0;
}

.card-more__link {
  background-color: #F2F2F2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}
