.catalog-products {
  display: grid;
  gap: 20px;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .catalog-products {
    gap: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-products {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs {
  padding: 20px;
  background-color: #f2f2f2;
}

.programs__subtitle {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .programs__subtitle {
    padding-left: 53px;
    padding-top: 57px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .programs__description {
    padding: 0;
    padding-left: 53px;
    padding-top: 24px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding-top: 22px;
  display: block;
}

.programs__link::after {
  position: absolute;
  content: "";
  display: block;
  top: 24px;
  left: 93px;
  width: 32px;
  height: 11px;
  background-image: url("../img/icon/arrow-link.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .programs__link {
    padding: 0;
    padding-top: 24px;
    padding-left: 53px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .programs__link::after {
    left: 1px;
  }
}
