.catalog-products {
  display: grid;
  gap: 20px;
  padding: 10px var(--side-offset) 20px;
  border-top: none;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 82px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
