.commentary-box {
  position: relative;
}

.commentary-box::before {
  position: absolute;
  content: "";
  border: 2px solid #68b738;
  width: 85%;
  top: 15px;
  right: 1px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 100%;
    top: 86px;
    right: 1px;
  }
}

.commentary-box-wrap {
  margin: 0;
  padding: 0 var(--side-offset) 23px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 65px var(--side-offset) 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.commentary-box__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  width: 42%;
  padding-bottom: 38px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    margin-left: -27px;
    padding-left: 25px;
    width: 32%;
  }

  @media (min-width: @desktop-width) {
    width: 17%;
    padding-left: 0;
    text-align: end;
  }
}

.commentary-box__area {
  text-transform: uppercase;
  padding: 0;
  width: 99.5%;
  height: 150px;
  border: 1px solid #e7e7e7;
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .commentary-box__area {
    width: 99.5%;
    font-size: 20px;
    line-height: 30px;
    height: 174px;
  }
}
