.container-gift {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 20px 35px;
  color: #ffffff;
  background-color: @accent-colors;
  background-image: linear-gradient(
      fade(@accent-colors, 85%),
      fade(@accent-colors, 85%)
    ),
    url("../img/image-cat-in-bag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 35px;
  width: 240px;
  height: 234px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 56px;

    @media (min-width: @tablet-width) {
      left: 86px;
      top: 100px;
    }

    @media (min-width: @desktop-width) {
      top: 65px;
    }
  }
}

@media (min-width: @tablet-width) {
  .container-gift {
    width: 94.5%;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .container-gift {
    margin: 0;
    width: 205px;
    align-items: end;
    flex-direction: row;
    justify-content: center;
  }
}

.container-gift__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-right: 124px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    margin: 0 auto;
  }
}
