.container {
  background-color: #f2f2f2;
  margin: 20px;
}

.container__subtitle {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0 auto;
}

.description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  color: #444444;
}

.container__link {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  margin: 0;
}
