.container-gift {
  background-color: #FFFFFF;
  flex-direction: column;
  display: flex;
  padding: 20px 20px 35px;
}

.container-gift__description {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}
