.container-gift {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 188px 20px 42px;
  color: #ffffff;
  background-color: @accent-colors;
  background-image: linear-gradient(
      fade(@accent-colors, 85%),
      fade(@accent-colors, 85%)
    ),
    url("../img/image-cat-in-bag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 35px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 56px;

    @media (min-width: @tablet-width) {
      left: 79px;
      top: 57px;
    }

    @media (min-width: @desktop-width) {
      top: 58px;
      left: 85px;
    }
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    background-position: center 62%;
    min-height: 200px;
    margin-top: 67px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    align-items: end;
    flex-direction: row;
    justify-content: center;
    min-height: 288px;
  }
}

.container-gift__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-basis: 75%;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-right: 108px;
    flex-basis: 25%;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    margin: 150px auto 46px;
    flex-basis: 70%;
  }
}
