.example {
  background-color: #eaeaea;
  display: inline-block;
  padding: 25px 20px 0 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.example__description {
  padding: 0;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 auto;
}

.advantages-card__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.advantages-card__parametr {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.advantages-price {
  display: flex;
  text-transform: uppercase;
  line-height: 20px;
}

.advantages-price__cost {
  margin: 0;
}
