.example {
  background-color: #eaeaea;
  padding: 43px var(--side-offset) 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e7e7e7;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 60%, #eaeaea 0%);
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 23%, #eaeaea 0%);
    border-top: none;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .example__title {
    padding-bottom: 63px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0;
    padding-bottom: 116px;
    margin: 0;
  }
}

.example__description {
  padding-bottom: 20px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .example__description {
    text-align: justify;
    margin: 0;
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example__description {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-top: 30px;
    max-width: 403px;
  }
}
