.example {
  background-color: #eaeaea;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .example__title {
    padding-bottom: 63px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .example__title {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .example__description {
    text-align: justify;
    margin: 0;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .example__description {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding-top: 30px;
    margin: 0;
  }
}

.advantages-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-wrapper {
    grid-column: 1/2;
    grid-row: 2/2;
    justify-content: center;
  }
}

.advantages-card__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.advantages-card__parametr {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.advantages-price {
  display: flex;
  text-transform: uppercase;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .advantages-price {
    align-items: flex-end;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .advantages-price {
    flex-direction: row;
  }
}

@media (min-width: @tablet-width) {
  .advantages-price__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

.advantages-price__cost {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages-price__cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @tablet-width) {
  .before-after-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .before-after-wrapper {
    grid-column: 2 /2;
    grid-row: 1/ 4;
  }
}
