.extra-wrapper {
  position: relative;
  margin: 0;
  padding: 22px var(--side-offset) 20px;

  &::before {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    top: 35px;
    width: 80%;
    right: 1px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 100%;
      top: 42px;
    }
  }
}

.extra-wrapper__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 61px;
    align-items: center;
    justify-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 244px);
    gap: 61px 81px;
    padding: 0;
  }
}

.extra-wrapper__title {
  margin: 0;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  width: 57%;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 50%;
    margin-left: -27px;
    padding-left: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}

.extra-wrapper__label {
  margin-bottom: 35px;
  position: relative;
  display: block;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.extra-wrapper__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: 0;
  left: 0;
}

.checkbox__input + .extra-wrapper__mark::before {
  content: url("/img/other-icon/checkmark.svg");
}

.checkbox__input[type="checkbox"]:checked + .extra-wrapper__mark::before {
  position: absolute;
  top: 0;
  right: 0;
}

.extra-wrapper__name {
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.extra-wrapper__button-large {
  padding: 10px 44px;
  margin-bottom: 28px;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    padding: 13px 45px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    width: 282px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 188px;
    min-width: 568px;
  }
}

.extra-wrapper__important {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  display: flex;

  @media (min-width: @desktop-width) {
    grid-column: 3 /4;
  }
}
