.extra-wrapper {
  margin: 0;
  padding: 22px 20px 32px;
}

.extra-wrapper__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.extra-wrapper__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 16px;
}

.extra-wrapper__list {
  margin-bottom: 12px;
}

.extra-wrapper__button {
  margin-top: 34px;
}

.extra-wrapper__important {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  display: flex;
}
