.extra-product {
  background-color: #ffffff;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @desktop-width) {
  .extra-product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    padding-bottom: 87px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__table {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

.extra-product__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: inherit;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: @tablet-width) {
  .extra-product__heading {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__heading {
    border: none;
  }
}

.extra-product__item {
  flex-direction: column;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: @tablet-width) {
  .extra-product__item {
    border: 1px solid #cdcdcd;
    padding: 28px 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 21px;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 894px;
    align-items: center;
    border: none;
    border-bottom: 1px solid #e2e2e2;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__item:first-child {
    border-top: 1px solid #e2e2e2;
  }
}

.extra-product__head {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  width: 163px;
}

@media (min-width: @tablet-width) {
  .extra-product__head {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    max-width: 163px;
    margin: 0;
  }
}

.extra-product__amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  width: 126px;
}

@media (min-width: @tablet-width) {
  .extra-product__amount {
    font-family: @main-font;
    font-size: 16px;
    line-height: 20px;
    word-break: break-all;
    width: 132px;
    justify-self: end;
    text-align: end;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__amount {
    text-align: left;
  }
}

.extra-product__price {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  max-width: 44px;
  color: #444444;
  word-break: break-all;
}

@media (min-width: @tablet-width) {
  .extra-product__price {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }
}

.extra-product__text {
  flex-direction: column;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  flex-wrap: wrap;
}

.extra-product__description {
  border-bottom: 1px solid #cdcdcd;
  display: grid;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .extra-product__description {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #cdcdcd;
    display: grid;
    grid-template-columns: 708px;
    padding: 0;
  }
}

.extra-product__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .extra-product__box {
    grid-column: 3/3;
    align-items: end;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__box {
    grid-column: 2/4;
    justify-content: space-around;
  }
}

@media (min-width: @tablet-width) {
  .extra-product__button {
    grid-column: 1/4;
    grid-row: 2/2;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__button {
    grid-column: 4/4;
    grid-row: 1/1;
  }
}

.extra__button {
  padding-top: 10px;
  padding-bottom: 10px;
}


@media (min-width: @desktop-width) {
  .extra__button {
    height: 100%;
    width: 244px;
  }
}
