.footer {
  background-color: #f2f2f2;
}

.footer__contacts-catalog {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  padding: 26px 20px;
}

@media (min-width: @tablet-width) {
  .footer__contacts-catalog {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 26px 20px;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #f2f2f2;
    justify-content: space-between;
  }
}

.contacts__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .footer-social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
  }
}

.footer-copyright__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  // &:active {
  //   opacity: 0.3;
  // }
}

.social__list {
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 26px;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
  }
}

.social__link-icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

.footer-social__logo-cat-energy {
  padding-bottom: 32px;
  padding-top: 39px;
}

.logo-cat-energy-link:hover {
  opacity: 0.8;
}

.logo-cat-energy-link:active {
  opacity: 0.6;
}

.social__link {
  text-decoration: none;
}

.footer-copyright {
  padding-top: 30px;
  width: 100%;
}

.copyright-link {
  text-decoration: none;
  fill: #444444;
  color: #444444;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  gap: 20px;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright-link {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
  }
}

.copyright-link__text {
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.copyright-link__icon {
  justify-self: flex-end;
}

@media (min-width: @tablet-width) {
  .footer-copyright {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
