.footer {
  background-color: #f2f2f2;
}

.footer__contacts {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 26px 20px;
}

@media (min-width: @tablet-width) {
  .footer__contacts {
    padding: 10px var(--side-offset) 20px;
  }
}

.contacts__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .footer-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-copyright__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.social__list {
  list-style-type: none;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  min-width: 280px;
  text-align: center;
}

.footer-social__logo-cat-energy {
  padding-bottom: 32px;
  padding-top: 39px;
}

.footer-copyright {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .footer-location {
    padding: 0 var(--side-offset) 20px;
  }
}
