.form-containter {
  --side-offset: 20px;

  @media (min-width: @tablet-width) {
    --side-offset: 70px;
  }

  @media (min-width: @desktop-width) {
    @half-width: (@container-max-width / 2);
    --side-offset: calc(50vw - @half-width);
  }
}

.containter-field__desktop-wrapper {
  @media (min-width: @tablet-width) {
    padding: 10px var(--side-offset) 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-containter__wrapper {
  padding: 30px var(--side-offset) 20px;

  @media (min-width: @tablet-width) {
    padding: 34px var(--side-offset) 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 64px var(--side-offset) 20px;
  }
}

.form-containter__wrapper-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-containter__wrapper-description {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 39px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
