.header {
  background-color: #ffffff;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    padding: 42px var(--side-offset) 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 69px var(--side-offset) 30px;
  }
}

@media (min-width: @desktop-width) {
  .header--desktop {
    padding: 69px var(--side-offset) 20px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: transparent;

    --current-color: #ffffff;
  }
}

.header__logo-wrapper {
  padding: 10px var(--side-offset) 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.header__logo-image {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
    cursor: pointer;
  }
}
