.header {
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .header {
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    padding: 24px var(--side-offset) 30px;
  }
}

@media (min-width: @desktop-width) {
  .header--desktop {
    padding: 53px var(--side-offset) 20px;
    position: absolute;
    width: 100%;
    max-width: 1220px;
    top: 0;
    z-index: 1;
    background-color: transparent;
  }
}

.header__logo {
  text-decoration: none;


  @media (min-width: @tablet-width) {
    height: 60px;
    align-self: baseline;
  }


  @media (min-width: @desktop-width) {
    align-self: center;
  }
}
