.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px var(--side-offset) 20px;
}

@media (min-width: @tablet-width) {
  .header {
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding: 24px var(--side-offset) 30px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("/img/logo-tablet.svg");
      background-repeat: no-repeat;
      width: 174px;
      height: 52px;
      top: 25px;
      left: 30px;

      @media (min-width: @desktop-width) {
        position: absolute;
        content: "";
        background-image: url("/img/logo-desktop.svg");
        width: 202px;
        height: 59px;
        top: 49px;
        left: 110px;
      }
    }
  }
}

.header:hover&::before {
  opacity: 0.8;
  cursor: pointer;
}

.header:active&::before {
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: @desktop-width) {
  .header--desktop {
    padding: 53px var(--side-offset) 20px;
    position: absolute;
    width: 100%;
    max-width: 1220px;
    top: 0;
    z-index: 1;
    background-color: transparent;
  }
}

@media (min-width: @tablet-width) {
  .main-header__logo-cat-energy,
  .main-header__logo-image {
    display: none;
  }
}
