.main-container {
  background: #ffffff;
}

.promo__wrapper {
  position: relative;
  text-align: center;
  display: grid;
  justify-items: center;
  justify-content: center;
  padding: 10px var(--side-offset) 20px;
  color: #ffffff;
  background-color: hsl(97deg, 53%, 47%);
  background-image: linear-gradient(
    to bottom,
    hsl(97deg, 53%, 47%) 302px,
    #ffffff 302px
  );
  background-size: 100%;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    inset: 0 0 auto;
    background-image: url("../img/index-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;

    @media (min-width: @tablet-width) {
      background-color: #ffffff;
      background-image: none;
    }

    @media (min-width: @desktop-width) {
      width: 50%;
      height: 100%;
      inset: 0 0 auto;
      background-image: url("../img/index-background-desktop.jpg");
      background-position: right center;
      transform: translateX(100%);
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    margin: 0 auto;
    justify-items: flex-start;
    background-color: #ffffff;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px var(--side-offset) 20px;
    background-image: linear-gradient(
      to right,
      #ffffff 50%,
      hsl(97deg, 53%, 47%) 50%
    );
    background-position: right bottom;
    background-size: 100%, 50% auto;
    padding-bottom: 165px;
  }
}

.promo__title {
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 36px;
  width: 250px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-left: 117px;
    padding-top: 62px;
    padding-bottom: 41px;
    margin: 0;
    order: -3;
    text-align: left;
    max-width: 45%;
  }

  @media (min-width: @desktop-width) {
    align-self: end;
    grid-column: 1/ 2;
    grid-row: 1 / 1;
    padding: 0;
    padding-bottom: 40px;
  }
}

.promo__slogan {
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 119px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 21px;
    margin: 0;
    order: -2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2 / 3;
    padding: 0;
    padding-bottom: 52px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
  width: 192px;
  min-height: 26px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    order: -1;
    padding: 14px 26px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 1/2;
    grid-row: 3 / 3;
    align-self: start;
  }
}
