.main-nav {
  padding: 0;
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
  background-color: #ffffff;

  &--enabled {
    position: absolute;
    display: none;
    width: 100%;
  }

  &--opened {
    display: flex;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    position: unset;
    flex-direction: row;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.main-nav__toggle {
  position: absolute;
  content: "";
  height: 18px;
  width: 24px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-image: url("/img/button-header.svg");
  right: 21px;
  top: 23px;
  cursor: pointer;
  border: none;

  &--opened {
    background-image: url("/img/icon-close.svg");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
