.main-header {
  background-color: #ffffff;
  padding: 10px var(--side-offset) 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding: 54px var(--side-offset) 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: @tablet-width) {
  .main-header__logo-image {
    grid-column: 1 / 2;
    grid-row: 1 /2;
  }
}

@media (min-width: @tablet-width) {
  .main-header__logo-cat-energy {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    padding-left: 40px;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 33px;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item a {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__item--current::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    height: 2px;
    width: 100%;
    bottom: -10px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
