@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 33px;
  }
}

.site-list__item a {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item a {
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }

  .site-list__item {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--current::before {
      position: absolute;
      content: "";
      background-color: var(--current-color, #68b738);
      height: 2px;
      width: 100%;
      bottom: -10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item--white a {
    color: #ffffff;
  }

  .site-list__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
