.page {
  background-color: #ffffff;
  --side-offset: 20px;

  @media (min-width: @tablet-width) {
    --side-offset: 30px;
  }

  @media (min-width: @desktop-width) {
    @half-width:(@container-max-width / 2);
    --side-offset: calc(50vw - @half-width);
  }
}

.page__body {
  font-family: @accent-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  color: #000000;
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
