.user-contacts {
  position: relative;
  margin: 0;
  padding: 0 var(--side-offset) 23px;
  z-index: 1;


  &::before {
    position: absolute;
    content: "";
    border: 2px solid #68b738;
    width: 85%;
    right: 1px;
    top: 43px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    padding: 71px var(--side-offset) 20px;

    &::before {
      top: 121px;
      width: 100%;
    }

    @media (min-width: @desktop-width) {
      padding: 69px var(--side-offset) 24px;
    }
  }
}

.user-contacts__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 29px 14px 20px 0;
  width: 65%;
  background-color: #ffffff;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    margin-left: -27px;
    padding-bottom: 76px;
    width: 85%;
    background-color: #ffffff;
    padding-left: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 45%;
    background-color: #ffffff;
    padding-left: 10px;
    padding-bottom: 76px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .user-contacts__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
  }
}

.form-input__place {
  border: 1px solid #cdcdcd;
  padding: 13px 15px;
  font-family: @accent-font;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-input__place:hover {
  border: 1px solid #cdcdcd;
  box-shadow: 2px 2px 5px #cdcdcd;
}

.form-input__place:focus {
  outline: 1px solid #cdcdcd;
  box-shadow: 2px 2px 5px #cdcdcd;
}

.form-input__place:active {
  outline: 1px solid #444444;
  box-shadow: -2px 2px 5px #444444;
}

.form-input__place:invalid {
  outline: 2px solid #ff8282;
  box-shadow: -2px 2px 5px #ff8282;
}

.form-input__place:valid {
  border: 1px solid #e7e7e7;
  box-shadow: -2px 2px 5px #e7e7e7;
}

@media (min-width: @tablet-width) {
  .form-input__place {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 10px;
  }
}

@media (min-width: @tablet-width) {
  .form-input {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-input__email {
  display: grid;
  grid-template-columns: 50px minmax(219px, 1fr);
  align-items: center;
  gap: 11px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .form-input__email {
    grid-template-columns: 64px minmax(219px, 1fr);
    gap: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-input__email {
    gap: 20px;
    grid-template-columns: 63px minmax(219px, 1fr);
    margin: 0;
  }
}

.form-input__tel {
  display: grid;
  grid-template-columns: 68px minmax(204px, 1fr);
  gap: 8px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .form-input__tel {
    grid-template-columns: 84px minmax(204px, 1fr);
    gap: 14px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-input__tel {
    grid-template-columns: 85px minmax(204px, 1fr);
    gap: 15px;
  }
}
