.wrapper-checkbox {
  border-bottom: 1px solid #d9d9d9;
  padding: 27px 21px 23px 20px;

  @media (min-width: @tablet-width) {
    margin-top: 72px;
    border: 1px solid #d9d9d9;
    padding: 28px 23px 27px 28px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    border: 1px solid #d9d9d9;
    height: 100%;
  }
}

.wrapper-checkbox__form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper-checkbox__form-item:not(:last-of-type) {
  margin-bottom: 24px;
}
